@import './scss/variables';
@import './scss/fonts';

body {
  background: #db9501;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  // overflow-y: scroll;

  &.fixed {
     //position: fixed;
     //height: 100%;
     //width: 100%;
    // overflow-y: hidden;
    // margin-right: 15px;
  }
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

 .row {
   align-items: center;
   display: flex;
   height: 50px;
   width: 100%;

   .line {
     background: #c05805;
     flex: 1 1 10px;
     height: 2px;
     margin: 0 5px;
     width: 60px;
   }

   .text {
     color: #2e2300;
     font-size: 14px;
     line-height: 1;
     font-weight: bold;
   }
 }
}

.modal {
  align-items: center;
  background: rgba(81, 127, 81, .7);
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  &.opened {
    display: flex;
  }

  .scroll {
    overflow-y: auto;
    width: 100%;

    .items {
      align-items: center;
      display: flex;
      flex-direction: column;

      .row {
        align-items: center;
        display: flex;
        height: 50px;
        width: 100%;

        .line {
          background: #c05805;
          flex: 1 1 10px;
          height: 2px;
          margin: 0 40px;
          width: 60px;
        }

        .text {
          color: #2e2300;
          font-size: 14px;
          line-height: 1;
          font-weight: bold;
        }
      }
    }
  }
}

.toggle {
  background: yellow;
  border-radius: 5px;
  color: #2e2300;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 34px;
  position: fixed;
  bottom: 30px;
  left: 10px;
  text-align: center;
  height: 34px;
  width: 130px;
  z-index: 110;
  user-select: none;
}

.indicator {
  position: fixed;
  background: yellow;
  border-radius: 5px;
  bottom: 30px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  padding: 5px;
  right: 10px;
  width: 150px;
  z-index: 110;

  .label {
    display: block;
  }
}